* {
    box-sizing: border-box;
  }
  
  body{
    background-image: url('Images/gif.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
  
  .header h1 {
    font-size: 20px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgba(94, 255, 0, 0.6);
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(63, 139, 19, 0.6);
  }
  
  img {
    width: 1390px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }


h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  /* Style the table */
  #choreTable {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse; /* Remove the cell borders */
    width: 80%; /* Set the table width to 80% */
    margin: 0 auto; /* Center the table */
  }

  /* Style the table headers */
  #choreTable th {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ebecea; /* Add a light gray background color to the headers */
    color: #000000; /* Set the text color to dark gray */
    padding: 12px; /* Add some padding to the headers */
    text-align: left; /* Align the text to the left */
  }

  /* Style the table cells */
  #choreTable td {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px; /* Add some padding to the cells */
    border: 1px solid #beadad; /* Add a light gray border to the cells */
    text-align: left; /* Align the text to the left */
  }

  .image-container{
    display: flex;
    margin: 25px;
    border-radius: 50%;
    border: 1px solid black;
    width: 150px;

  }
  .img-thumbnail{
    width: 350px;
    height: 500px;
  }
  
  tr,th,td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #4CAF50; /* Add a light gray background color to the headers */
    color: #ffffff; /* Set the text color to dark gray */
    padding: 12px; /* Add some padding to the headers */
    text-align: left; /* Align the text to the left */
    font-size: 30px;
  }
  

  
  